/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes icon-scaling-anim {
  100% {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes core-anim {
  100% {
    fill: var(--heart-core-active-color);
  }
}

@keyframes main-body-anim {
  100% {
    fill: var(--heart-main-body-active-color);
  }
}

@keyframes contour-anim {
  100% {
    fill: var(--heart-contour-active-color);
  }
}

@keyframes sparks-anim {
  100% {
    fill: var(--heart-sparks-color);
  }
}
