/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding: 100px 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--endtag-font-main), sans-serif;
  font-variation-settings: "wght" var(--endtag-font-weight-normal);
  background-image: var(--endtag-gradient-line-horizontal),
    var(--endtag-gradient-line-vertical), var(--endtag-gradient-basic);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 100px;
  width: clamp(375px, 49vw, 700px);
  font-family: var(--endtag-font-accent), fantasy;
  font-weight: var(--endtag-font-weight-normal);
  text-transform: uppercase;
  background-color: var(--endtag-color-bgd);
  border: 2px solid var(--endtag-color-accent);
}
h1 {
  margin-block-end: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}
.header__title {
  margin-block-start: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}
.cards {
  margin: 0 auto;
  max-inline-size: 700px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card {
  border: 2px solid var(--endtag-color-accent);
  background-color: var(--endtag-color-bgd);
}
.card__header {
  padding: 4px 10px 6px 10px;
  border-block-end: 2px solid var(--endtag-color-accent);
  font-size: 18px;
  font-variation-settings: "wght" var(--endtag-font-weight-bold);
}
.card__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
}
.card__image-text {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 27px;
  z-index: 1;
  font-family: var(--endtag-font-accent), fantasy;
  font-weight: var(--endtag-font-weight-normal);
  font-size: 14px;
  color: var(--endtag-color-accent);
  opacity: 60%;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 0 var(--endtag-color-bgd), 0 1px 0 var(--endtag-color-bgd),
    0 -1px 0 var(--endtag-color-bgd), -1px 0 0 var(--endtag-color-bgd);
}
@supports (
  (text-stroke: 1px var(--endtag-color-bgd)) or
    (-webkit-text-stroke: 1px var(--endtag-color-bgd))
) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 0.8px var(--endtag-color-bgd);
    text-stroke: 0.8px var(--endtag-color-bgd);
  }
}
.card__image-container {
  position: relative;
  border-bottom: 2px solid var(--endtag-color-accent);
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 25px 25px 24px 25px;
}
.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.card__text {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--endtag-font-weight-normal), "wdth" 100,
    "opsz" 0;
}
.card__buttons {
  display: flex;
  gap: 4px;
  align-self: flex-end;
}
.standard-button {
  position: relative;
  border: 2px solid var(--endtag-color-accent);
  transition: box-shadow 0.3s ease;
}
.standard-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--endtag-color-accent);
}
.standard-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--endtag-color-accent);
}
.standard-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--endtag-color-accent);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.standard-button:hover::before {
  transform: scaleX(1);
}
.card__icon-button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  padding: 2px;
  background-color: transparent;
  cursor: pointer;
  inline-size: 43px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline 0.3s ease;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  outline: 2px solid var(--endtag-color-accent);
}
.card__like-button {
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  cursor: pointer;
  inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--endtag-color-button-text);
  mix-blend-mode: difference;
  display: block;
  font-family: var(--endtag-font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}
.save__button-container {
  margin: 50px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save__button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  text-align: center;
  background-color: var(--endtag-color-bgd);
  cursor: pointer;
}
.save__button-image {
  block-size: 21px;
  z-index: 2;
  mix-blend-mode: difference;
}
.dialog {
  border: 2px solid var(--endtag-color-accent);
  padding: 25px 30px;
  color: var(--endtag-color-accent);
  font-family: var(--endtag-font-accent), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: 355px;
}
.dialog__form {
  display: flex;
  flex-direction: column;
}
.dialog__image-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 30px;
}
.dialog__image {
  flex-shrink: 0;
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}
.dialog__button {
  padding: 10px 0;
  text-transform: uppercase;
  background-color: transparent;
}
.dialog::backdrop {
  background-color: black;
  opacity: 75%;
}

@media (width <= 375px) {
  .save__button-container {
    max-inline-size: 340px;
  }
  .save__button-image {
    inline-size: 28px;
    block-size: 28px;
  }
  .save__button {
    flex-direction: column;
  }
  .dialog {
    padding: 28px 34px 28px 40px;
        max-inline-size: 340px;
  }
}

/* heart */

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}
.main-body {
  fill: var(--heart-main-body-transparent);
  transition: fill 0.3s linear;
}
.core {
  fill: var(--heart-core-transparent);
  transition: fill 0.3s linear 0.03s;
}
.sparks {
  color: var(--heart-sparks-transparent);
}

.card__icon-button:hover {
  .main-body {
    fill: var(--heart-main-body-color);
    transition: fill 0.3s linear 0.05s;
  }
  .core {
    fill: var(--heart-core-color);
    transition: fill 0.3s linear;
  }
}

.card__icon-button:active {
  .main-body {
    fill: var(--heart-main-body-active-color);
    transition: fill 0.3s linear 0.05s;
  }
  .core {
    fill: var(--heart-core-active-color);
    transition: fill 0.3s linear;
  }
}

.like-icon.is-liked {
  animation: icon-scaling-anim 0.3s 0.1s ease-in reverse;

  .core {
    animation: core-anim 0.3s linear;
    animation-fill-mode: both;
  }

  .main-body {
    animation: main-body-anim 0.3s 0.05s linear;
    animation-fill-mode: both;
  }

  .contour {
    animation: contour-anim 0.3s 0.06s linear;
    animation-fill-mode: both;
  }

  .sparks {
    animation: sparks-anim 0.3s 0.3s ease-in reverse;
  }

  /* filters */
}
.filter-saturate {
  filter: saturate(300%);
}
.filter-chaos {
  filter: hue-rotate(170deg) saturate(400%) blur(1px);
}
.filter-bright {
  filter: brightness(200%);
}
.filter-invert {
  filter: invert(100%);
}
.filter-grayscale {
  filter: grayscale(100%);
}
.filter-sepia {
  filter: sepia(100%);
}
.filter-blur {
  filter: blur(3px);
}
.filter-contrast {
  filter: contrast(50%);
}
